.block {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
    border-bottom: 5px solid #969FAA;;
    padding-bottom: 30px;
    min-width: 1080;
    font-family: Norwester;
}

.titleSegment {
    font-family: Norwester;
    color: gray;
}

.replay {
    display: block;
    margin: 0px auto;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E0E0E0;
}

.video {
    width: 800px;
    height: 450px;
    background-color: #E0E0E0;
}

.horizontal {
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    display: inline-block;
}

#streamer {
    vertical-align: middle;
}

#scheduletable {
    text-align: center;
    height: 350px;
    width: 180px;
    overflow: scroll;
}

#scheduletable::-webkit-scrollbar {
    width: 1px;
    display: none;
}

.column_left {
    float: left;
}

.column_right {
    float: right;
}

.line {
    background-color: #F1F1F1;
    padding: 5px;
    margin: 5px;
    width: 165px;
    height: 60px;
    text-align: center;
}

.streamerLine{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.streamerCell{
    padding: 5px;
}

.set{
    text-align: center;
    cursor: pointer;
}

.thumbnail{
    border: 0.5px solid #000000;
}

.room{
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#createroom{
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

#official_streaming{
    cursor: pointer;
}

#upSchedule{
    text-align: center;
    cursor: pointer;
}

#downSchedule{
    text-align: center;
    cursor: pointer;
}

.leftTeam{
    margin-right: 10px;
    padding-top: 5px;
    float: left;
}

.rightTeam{
    margin-left: 10px;
    padding-top: 5px;
    float: right;
}

.divTb{
    display: inline-block;
}

.videoHover {
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.76);
    font-size: 100px;
    color: rgba(255, 255, 255, 0.76);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .2s;
}

.video:hover .videoHover {
    opacity: 1;
}