.header{
    width: 100%;
    height: 50px;
}

.totalContents {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
}

.category {
    font-family: Barlow;
    font-size: 23px;
    color: rgb(189, 189, 189);
}

.title {
    font-family: Ubuntu;
    font-size: 40px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}


.barrier {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.smallText {
    font-size: 23px;
}

.comments {
    width: 100%;
    height: 400px;
}

.AF {
    font-weight: bold;
    color: rgba(5, 69, 177, 1);
}

.APK {
    font-weight: bold;
    color: rgba(215, 70, 70, 1);
}

.DRX {
    font-weight: bold;
    color: rgba(87, 140, 247, 1);
}

.DWG {
    font-weight: bold;
    color: rgba(48, 208, 178, 1);
}

.GEN {
    font-weight: bold;
    color: rgba(165, 135, 33, 1);
}

.GRF {
    font-weight: bold;
    color: rgba(215, 24, 31, 1);
}

.HLE {
    font-weight: bold;
    color: rgba(255, 107, 1, 1);
}

.KT {
    font-weight: bold;
    color: rgba(34, 30, 31, 1);
}

.SB {
    font-weight: bold;
    color: rgba(173, 28, 49, 1);
}

.T1 {
    font-weight: bold;
    color: rgba(226, 30, 47, 1);
}


#video {
    margin-bottom: 10px;
}
